[Desktop Entry]
Comment[zh_CN]=Wine-QQ轻聊版管理器
Comment=winetricks
Encoding=UTF-8
Exec=/opt/QQLight7.9/Wine-QQ-Tool.sh
#指定可执行文件路径
GenericName[zh_CN]=
GenericName=
Icon=/opt/QQLight7.9/Wine-QQ-Tool.png
#指定图标文件
MimeType=
Name[zh_CN]=Wine-QQ轻聊版管理器
Name=Wine-QQLight-Tool
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Network;
