<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<mscorlib>
		<security>
			<policy>
				<PolicyLevel version="1">
					<SecurityClasses>
					</SecurityClasses>
					<NamedPermissionSets>
					</NamedPermissionSets>
					<CodeGroup class="UnionCodeGroup" version="1" PermissionSetName="Nothing" Name="All_Code" Description="Code group grants no permissions and forms the root of the code group tree.">
						
					</CodeGroup>
					<FullTrustAssemblies>
					</FullTrustAssemblies>
				</PolicyLevel>
			</policy>
		</security>
	</mscorlib>
</configuration>
